/* CSS Document */

body {
    margin: 0px;
	background-color: #f5f4f5;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
}

p {
	margin: 0;
	color: black;
}

a {
    text-decoration: none;
	color: #4565a1;
}

/* NAVIGATION BAR */

.display-none-chat {
	display: none;
}

.display-chat {
	display: block;
}

.display-none-chat2 {
	display: none;
}

.display-chat2 {
	display: block;
}

.move-left {
	margin-right: 296px;
}

.move-right {
	margin-right: 244px;
}

.chat-maximize {
	display: block;
}

.chat-minimize {
	display: none;
}

.move-up {
    margin-bottom: 300px;
}

.move-down {
    margin-bottom: 0px;
}

.close-chat-window {
	position: relative;
    float: right;
    margin-right: 7px;
    margin-top: 4px;
}

.display-chat2 {
	display: block;
}

.display-none-chat2 {
	display: none;
}

#william-harader-chat {
	position: fixed;
    z-index: 10;
	bottom: 0;
	right: 0;
	width: 268px;
	height: 28px;
    border-radius: 5px 5px 0px 0px;
    background-color: black;
	opacity: .5;
}

#william-harader-chat1 {
	cursor: pointer;
	position: fixed;
    z-index: 10;
	bottom: 0;
	right: 0;
	width: 268px;
	height: 28px;
}

#william-harader-chat3 {
	position: fixed;
    z-index: 10;
	bottom: 0;
	right: 0;
    width: 266px;
    height: 300px;
	border-left: 1px solid #acacac;
	border-right: 1px solid #acacac;
	background: white;
}

#william-harader-chat-box {
	height: 235px;
	overflow: scroll;
	overflow-x: hidden;
	padding-bottom: 7px;
}

#william-harader-chat-box img {
	margin-left: 7px;
	margin-top: 7px;
	float: left;
	clear: both;
}

.chat-box-message {
	margin-left: 7px;
	margin-top: 7px;
	background-color: #f5f4f5;
    border-radius: 100px;
	float: left;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.chat-box-message2 {
	margin-right: 7px;
	margin-top: 7px;
	background-color: #f57e20;
    border-radius: 100px;
	float: right;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}	

.chat-box-message p {
	font-size: 12px;
	margin-top: 11px;
}

.chat-box-message2 p {
	font-size: 12px;
	margin-top: 11px;
}

#chat-box-input {
	height: 28px;
	border-top: 1px solid #acacac;
}

#chat-box-input p {
    font-size: 12px;
    margin-left: 7px;
    margin-top: 7px;
}

#chat-box-buttons {
	height: 28px;
	border-top: 1px solid #acacac;
}

#chat-box-buttons img {
    margin-left: 7px;
    margin-top: 4px;
}

#chat {
	position: fixed;
    z-index: 10;
	bottom: 0;
	right: 0;
	width: 268px;
	height: 28px;
	margin-right: 14px;
    border-radius: 5px 5px 0px 0px;
    background-color: black;
	opacity: .5;
}

#chat1 {
	cursor: pointer;
	position: fixed;
    z-index: 10;
	bottom: 0;
	right: 0;
	width: 268px;
	height: 28px;
	margin-right: 14px;
}

#chat2 {
	position: fixed;
    z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	margin-top: 47px;
	margin-bottom: 29px;
	width: 230px;
    background-color: black;
	opacity: .5;
}

#chat3 {
	position: fixed;
    z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	margin-top: 47px;
	margin-bottom: 29px;
	width: 230px;
	overflow: scroll;
	overflow-x: hidden;
}

#chat4 {
	position: fixed;
    z-index: 10;
	right: 0;
	bottom: 0;
	width: 230px;
	height: 28px;
	border-top: 1px solid white;
    background-color: black;
	opacity: .5;
}

#chat5 {
	position: fixed;
    z-index: 10;
	right: 0;
	bottom: 0;
	width: 230px;
	height: 28px;
}

.white-search-icon {
	float: left;
	margin-left: 14px;
	margin-top: 4px;
}

#chat5 p {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
	color: white;
}

#chat3 img {
	float: left;
	clear: left;
	margin-left: 14px;
	margin-top: 7px;
}

#chat3 p {
	float: left;
	margin-left: 14px;
	margin-top: 16px;
	color: white;
}

#chat1 p {
    font-weight: bold;
	color: white;
	margin-top: 6px;
	margin-left: 7px;
	float: left;
}

#william-harader-chat1 p {
	font-weight: bold;
	color: white;
	margin-top: 6px;
	margin-left: 7px;
	float: left;
}

.chat-container {
	height: 50px;
}

.chat-container:hover {
	height: 50px;
	background-color: black;
}

#navbar {
    position: fixed;
    z-index: 10;
	width: 100%;
	height: 46px;
	background-color: #f57e20;
	border-bottom: 1px solid #8f4b15;
}

#container1 {
	margin: auto;
	width: 1250px;
	padding-left: 10px;
	padding-right: 10px;
}	

.logo {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

#search-bar {
	float: left;
	margin-top: 8px;
	margin-left: 14px;
	width: 400px;
	height: 28px;
	border: 1px solid #8f4b15;
	border-radius: 5px;
	background-color: white;
}

.gray-box {
	margin-left: 340px;
}

.search-icon {
    position: relative;
    left: 360px;
    top: -28px;
    z-index: 1;
}

.profile-photo {
	float: left;
	margin-top: 5px;
	margin-left: 308px;
}

.name {
	float: left;
	font-weight: bold;
	color: white;
	margin-top: 15px;
	margin-left: 7px;
}

.bank {
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/bank.png');
	background-repeat: no-repeat;
}

.bank:hover {
	height: 38px;
	border-bottom: 3px solid black;
}

#token-count {
	float: left;
	margin-top: 8px;
	margin-left: 7px;
	width: 52px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

#token-count:hover {
	background-color: #ececec;
}

#token-count p {
	margin-top: 6px;
	margin-left: -1px;
}

.friend-requests {
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/friend-requests.png');
	background-repeat: no-repeat;
}

.friend-requests:hover {
	height: 38px;
	border-bottom: 3px solid black;
}

.messages {
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/chat-bubbles.png');
	background-repeat: no-repeat;
}

.messages:hover {
	height: 38px;
	border-bottom: 3px solid black;
}

.notifications2 {
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/notifications3.png');
	background-repeat: no-repeat;
}

.notifications2:hover {
	height: 38px;
	border-bottom: 3px solid black;
}

#notifications-box {
    height: 46px;
	border-bottom: 1px solid #acacac;
}

#notifications-box2 {
	height: 500px;
    overflow: scroll;
	overflow-x: hidden;
}

#notifications-box3 {
    height: 58px;
	border-top: 1px solid #acacac;
}

#notifications-box3 a {
	font-weight: bold;
	text-align: center;
}

.accept-reject-friend-request {
	float: left;
	margin-bottom: 14px;
	margin-left: 14px;
	width: 118px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

.accept-reject-friend-request:hover {
	background-color: #ececec;
}

.accept-reject-friend-request p {
	margin-top: 6px;
}

.notifications-buttons {
	margin-left: 19px;
	margin-top: 14px;
}

.notification-avatar {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
}

.notification {
	cursor: pointer;
	border-bottom: 1px solid #acacac;
    overflow: auto;
}

.notification:hover {
	background-color: #ececec;
}	

.notification-box {
	float: left;
	width: 50px;
}

.notification-box2 {
	float: left;
    width: 231px;
}

.notification-text {
	color: black;
	margin-left: 14px;
	margin-top: 11px;
	margin-right: 14px;
}

.notification-text a {
	font-weight: bold;
}

.notification-text2 {
	color: black;
	margin-left: 14px;
    margin-top: 2px;
	margin-right: 14px;
}

.notification-date {
	color: #969696;
    margin-top: 2px;
    margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 11px;
}

#settings-drop-down {
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/settings.png');
}

/* LEFT SIDEBAR */

#container2 {
	margin: auto;
	width: 1250px;
	padding-top: 47px;
	padding-left: 10px;
	padding-right: 10px;
}

#non-user-message {
	width: 1226px;
	border: 1px solid #d80027;
	margin-top: 14px;
	background-color: white;
}
	
#non-user-message p {
	color: #d80027;
    font-size: 16px;
    padding: 14px;
    font-weight: bold;
}

#left-sidebar {
	float: left;
	margin-top: 14px;
	margin-left: 10px;
	width: 300px;
}

#newsfeed-control-box {
	float: left;
	width: 298px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	padding-bottom: 14px;
}

#all-feeds {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

#all-feeds:hover {
	background-color: #ececec;
}

#all-feeds p {
	margin-top: 6px;
}

#all-feeds-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#all-feeds-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#sort-by-most-recent {
	position: relative;
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 42px;
	width: 242px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #dddddd;
}

.followed-feeds-sort-by-button {
	position: relative;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #dddddd;
}

.followed-feeds-sort-by-button img {
	position: absolute;
	margin-left: 227px;
	margin-top: 8px;
}

.followed-feeds-sort-by-button p {
	margin-top: 6px;
	text-align: center;
	font-weight: bold;
}

.select-feed {
	position: relative;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #dddddd;
}

.select-feed img {
	position: absolute;
	margin-left: 244px;
	margin-top: 8px;
}

.select-feed p {
	margin-top: 6px;
	text-align: center;
	font-weight: bold;
}

#sort-by-most-recent:hover {
	background-color: #ececec;
}

#sort-by-most-recent img {
	position: absolute;
	margin-left: 214px;
	margin-top: 8px;
}

#sort-by-most-recent p {
	margin-top: 6px;
	text-align: center;
	font-weight: bold;
}

#pages-feed {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ff7f7f;
	font-weight: bold;
	text-align: center;
}

#pages-feed:hover {
	background-color: #ffa8a8;
}

#pages-feed p {
	margin-top: 6px;
}

#pages-feed-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

.feed-settings-gear-box {
	float: right;
	margin-top: 14px;
	margin-right: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}

#pages-feed-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#groups-feed {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #7f7fff;
	font-weight: bold;
	text-align: center;
}

#groups-feed:hover {
	background-color: #b1b1ff;
}

#groups-feed p {
	margin-top: 6px;
}

#groups-feed-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#groups-feed-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#friends-feed {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #7fff7f;
	font-weight: bold;
	text-align: center;
}

#friends-feed:hover {
	background-color: #b0ffb0;
}

#friends-feed p {
	margin-top: 6px;
}

#friends-feed-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#friends-feed-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#external-feed {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffd07f;
	font-weight: bold;
	text-align: center;
}

#external-feed:hover {
	background-color: #ffe2b0;
}

#external-feed p {
	margin-top: 6px;
}

#external-feed-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#external-feed-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#custom-feed1 {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffff7f;
	font-weight: bold;
	text-align: center;
}

#custom-feed1:hover {
	background-color: #ffffaf;
}

#custom-feed1 p {
	margin-top: 6px;
}

#custom-feed1-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#custom-feed1-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#custom-feed2 {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffff7f;
	font-weight: bold;
	text-align: center;
}

#custom-feed2:hover {
	background-color: #ffffaf;
}

#custom-feed2 p {
	margin-top: 6px;
}

#custom-feed2-settings {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#custom-feed2-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#custom-feed3 {
	display: none;
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffff7f;
	font-weight: bold;
	text-align: center;
}

#custom-feed3:hover {
	background-color: #ffffaf;
}

#custom-feed3 p {
	margin-top: 6px;
}

#custom-feed3-settings {
	display: none;
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#custom-feed3-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#create-custom-feed {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 268px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffff7f;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#create-custom-feed:hover {
	background-color: #ffffaf;
}

#create-custom-feed p {
	margin-top: 6px;
}

#news-feed-breakdown {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 268px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #e87fff;
	font-weight: bold;
	text-align: center;
}

#news-feed-breakdown:hover {
	background-color: #f1afff;
}

#news-feed-breakdown p {
	margin-top: 6px;
}

#category-feeds {
	float: left;
	margin-top: 14px;
	width: 298px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	padding-bottom: 14px;
}

#module-header {
	height: 28px;
	border-radius: 5px 5px 0px 0px;
	background-color: #f57e20;
}

.module-header-text {
	text-align: center;
	padding-top: 6px;
}

#category-feeds-scroll {
	height: 270px;
	width: 298px;
	margin-bottom: 12px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#category-feed p {
	margin-top: 6px;
}

#category-feed {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 224px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

#category-feed:hover {
	background-color: #ececec;
}

#category-feed-settings, #category-feed-settings2 {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#category-feed-settings img {
	margin-top: 4px;
	margin-left: 4px;
}

#pages-directory {
	float: left;
	margin-top: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.directories {
	color: #4565a1;
	margin-top: -56px;
    margin-left: 63px;
    font-weight: bold;
	width: fit-content;
}

.feed-name {
	color: #4565a1;
    margin-top: -57px;
    margin-left: 64px;
    font-weight: bold;
}

.directories:hover {
	text-decoration: underline;
}

.count {
	color: #969696;
	font-weight: normal;
    margin-top: 2px;
    margin-left: 63px;
}

.feed-count {
	color: #969696;
	font-weight: normal;
    margin-top: 2px;
    margin-left: 64px;
}

.posts-per-day {
	color: #ff0000;
	font-weight: normal;
    margin-top: 2px;
    margin-left: 64px;
}

.posts-per-day2 {
	color: #00cf00;
	font-weight: normal;
    margin-top: 2px;
    margin-left: 64px;
}

.sub-date {
	color: #00cf00;
	font-weight: normal;
    margin-top: 2px;
    margin-left: 64px;
}

.directory-box {
	border-bottom: 1px solid #acacac;
    padding-bottom: 11px;
}

.directory-box:hover {
	background-color: #ececec;
}

.directory-icon {
	margin-top: 14px;
	margin-left: 14px;
	margin-bottom: 14px;
}

#view-all {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 268px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

#view-all:hover {
	background-color: #ececec;
}

#view-all p {
	margin-top: 6px;
}

#groups-directory {
	float: left;
	margin-top: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#chat-rooms-directory {
	float: left;
	margin-top: 14px;
	margin-bottom: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.move {
	float: left;
	margin-left: 4px;
    margin-top: 4px;
}

.gear {
	float: right;
	margin-right: 4px;
    margin-top: 4px;
}

.gear2 {
    position: absolute;
    margin-left: 574px;
    margin-top: 4px;
}

/* FEED */

#feed {
	float: left;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 14px;
	width: 600px;
}

#create-post {
	width: 598px;
	height: 125px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#create-post-header {
	height: 28px;
	border-radius: 5px 5px 0px 0px;
	background-color: #f57e20;
}

.create-post-header-text {
	text-align: center;
	padding-top: 6px;
}

#create-post-container {
	height: 64px;
	border-bottom: 1px solid #acacac;
}

.profile-photo2 {
	float: left;
	margin-left: 14px;
	margin-top: 14px;
}

.create-post-text {
	float: left;
	margin-left: 14px;
	margin-top: 23px;
	color: #bbbbbb;
	font-weight: normal;
}

.profile-photo3 {
	float: left;
}

.down-arrow {
	float: left;
	margin-left: 7px;
    margin-top: 3px;
}

.camera {
	float: left;
	margin-left: 14px;
	margin-top: 9px;
}

.video-camera {
	float: left;
	margin-left: 14px;
	margin-top: 10px;
}

.flag {
	float: left;
	margin-left: 14px;
	margin-top: 9px;
}

.dots {
	float: left;
	margin-left: 14px;
	margin-top: 8px;
}

.create-post-text2 {
	float: left;
	margin-left: 7px;
	margin-top: 8px;
	font-weight: bold;
}

.create-post-text2:hover {
	text-decoration: underline;
}

#layout-options {
	width: 600px;
	height: 29px;
}

.layout-options-text {
	float: left;
	margin-left: 7px;
	margin-top: 15px;
	font-weight: bold;
    font-size: 12px;
}

#toggle-view1,#toggle-view2,#toggle-view3 {
	cursor:pointer;
}

.list {
	float: left;
	margin-left: 2px;
	margin-top: 14px;
}

.width {
	float: left;
	margin-left: 14px;
	margin-top: 14px;
}

.chat-bubble-outline {
	float: left;
	margin-left: 14px;
	margin-top: 14px;
}

#post {
	width: 598px;
	margin-top: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
}

.four-arrows {
	display: none;
}

.event-date {
	color: #d10000;
	padding-top: 14px;
	font-size: 13px;
	margin-left: 14px;
}

.event-title {
	margin-top: 7px;
	margin-left: 14px;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 14px;
}

#interested-button {
	float: right;
    margin-top: -44px;
    margin-right: 14px;
	width: 150px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

#interested-button p {
	margin-top: 6px;
}

#link-text-box {
	background-color: #f2f3f5;
}

.link-title {
	padding-top: 14px;
	margin-left: 14px;
	font-size: 18px;
	font-weight: bold;
}

.link-except {
	margin-top: 7px;
	margin-left: 14px;
	font-size: 13px;
}

.link-url {
	margin-top: 7px;
	margin-left: 14px;
	font-size: 13px;
	padding-bottom: 14px;
}

#original-post-description-box {
	border-bottom: 1px solid #acacac;
}

#original-post-description-box2 {
	border-left: 2px solid #acacac;
	margin-top: 14px;
	margin-left: 14px;
	margin-bottom: 14px;
}

.original-page-name {
	font-size: 13px;
	margin-left: 14px;
	font-weight: bold;
}

.original-post-date {
	font-size: 13px;
	margin-top: 5px;
	margin-left: 14px;
	color: #969696;
}

.original-post-description {
	font-size: 13px;
	margin-top: 10px;
	margin-left: 14px;
	color: #969696;
}

.post-logo {
	margin-left: 14px;
	margin-top: 14px;
}

.post-author {
	color: black;
	margin-top: -39px;
    margin-left: 64px;
    font-weight: bold;
}

.post-author a:hover {
	text-decoration: underline;
}

.post-date, .post-date3, .post-date4, .post-date5, .post-date6, .post-date7 {
	color: #969696;
	margin-top: 2px;
    margin-left: 64px;
	width: fit-content;
}

.post-date2 {
	color: #969696;
	margin-top: 2px;
    margin-left: 64px;
}

.post-date:after {
    content: '47 seconds ago';
}

.post-date:hover:after {
    content: 'August 17, 2018 at 3:43pm';
}

.post-date3:after {
    content: '25 minutes ago';
}

.post-date3:hover:after {
    content: 'August 17, 2018 at 3:18pm';
}

.post-date4:after {
    content: '2 hours ago';
}

.post-date4:hover:after {
    content: 'August 17, 2018 at 1:28pm';
}

.post-date5:after {
    content: '3 hours ago';
}

.post-date5:hover:after {
    content: 'August 17, 2018 at 12:24pm';
}

.post-date6:after {
    content: '5 hours ago';
}

.post-date6:hover:after {
    content: 'August 17, 2018 at 10:39am';
}

.post-date7:after {
    content: '7 hours ago';
}

.post-date7:hover:after {
    content: 'August 17, 2018 at 8:14am';
}

.post-description {
	margin-left: 14px;
	margin-right: 14px;
	margin-top: 11px;
    font-size: 15px;
	line-height: 19px;
}

.post-description2 {
	margin-left: 14px;
	margin-right: 14px;
	margin-top: 11px;
	margin-bottom: 7px;
    font-size: 15px;
	line-height: 19px;
}

.post-description3 {
	margin-left: 14px;
	margin-right: 14px;
	margin-top: 7px;
    font-size: 15px;
	line-height: 19px;
}

.post-description-container {
	border-bottom: 1px solid #acacac;
}

.red-box {
	float: right;
}

.organic-post1-image {
	margin-top: 10px;
	margin-bottom: -4px;
}

#social-data-box {
	height: 28px;
	border-bottom: 1px solid #acacac;
}

.reaction1 {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
}

.reaction2 {
	float: left;
	margin-top: 6px;
}

.reaction-text {
	float: left;
	margin-left: 7px;
	margin-top: 6px;
}

.views-text {
	float: right;
	margin-right: 14px;
	margin-top: 6px;
}

.shares-text {
	float: right;
	margin-right: 14px;
	margin-top: 6px;
}

.comments-text {
	float: right;
	margin-right: 14px;
	margin-top: 6px;
}

#social-button-box {
	height: 32px;
}

.like-icon {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
}

.comment-icon {
	float: left;
	margin-left: 182px;
	margin-top: 6px;
}

.share-icon {
	float: left;
	margin-left: 171px;
	margin-top: 6px;
}

.post-button-text {
	float: left;
	margin-left: 7px;
	margin-top: 8px;
	font-weight: bold;
}

.post-options {
	float: right;
	margin-top: 28px;
    margin-right: 13px;
}

.comments-box {
	border-top: 1px solid #acacac;
	padding-bottom: 14px;
	overflow: auto;
}

.comment-options-box {
	border-bottom: 1px solid #acacac;
	height: 28px;
}

.comment-count2 {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
}

.tiny-down-arrow{
	float: right;
	margin-right: 14px;
    margin-top: 9px;
}

.sort-by-comments {
	color: #4565a1;
	float: right;
	margin-right: 4px;
	margin-top: 6px;
}

.comment-avatar {
	clear: left;
	float: left;
	margin-left: 14px;
	margin-top: 14px;
}

.reply-avatar {
	clear: left;
	float: left;
	margin-left: 57px;
	margin-top: 14px;
}

.comment-bubble {
	float: left;
	background-color: #f5f4f5;
    border-radius: 100px;
	margin-top: 14px;
	margin-left: 7px;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.comment-buttons {
	clear: left;
	margin-left: 67px;
	margin-top: 14px;
}

.reply-buttons {
	clear: left;
	margin-left: 110px;
	margin-top: 14px;
}

.like-button-comments {
	float: left;
	color: #4565a1;
}

.reply-button-comments {
	float: left;
	color: #4565a1;
	margin-left: 14px;
}

.comment-post-date {
	float: left;
	color: #969696;
	margin-left: 14px;
}

.reply-bubble {
	float: left;
	background-color: #f5f4f5;
    border-radius: 100px;
	margin-top: 14px;
	margin-left: 7px;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.comment-username {
	float: left;
    color: #4565a1;
    font-weight: bold;
	margin-top: 10px;
}

.comment-username:hover {
	text-decoration: underline;
}

.comment-text {
	float: left;
	margin-left: 7px;
	color: black;
    margin-top: 10px;
	margin-left: 7px;
}

.write-a-comment-input {
	height: 28px;
	width: 504px;
	background-color: #f5f4f5;
	border-radius: 100px;
	border: 1px solid #acacac;
	float: left;
	margin-top: 14px;
	margin-left: 7px;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.write-a-comment-input p {
	float: left;
	color: #969696;
    margin-top: 10px;
}

.add-an-image {
	float: right;
	margin-right: 4px;
	margin-top: 8px;
}	

.hide-comments .comments-box {
	display: none;
}

/* RIGHT SIDEBAR */

#right-sidebar {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 300px;
}

#my-widgets {
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#customize-theme {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#advanced-mode {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#night-mode {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.switch {
	position: relative;
	display: block;
	margin: auto;
    width: 48px;
	height: 28px;
    margin-top: 14px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #00da00;
}

input:focus + .slider {
	box-shadow: 0 0 1px #00da00;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#my-pages {
	margin-top: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#my-groups {
	margin-top: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#favorite-pages {
	margin-top: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#favorite-groups {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

#bookmarked-posts {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.bookmarked-post-type {
	float: right;
	margin-right: 7px;
	margin-top: 7px;
}

#select-bookmarks-folder-box {
	height: 58px;
	border-bottom: 1px solid #acacac;
}

#select-bookmarks-folder-menu {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #dddddd;
	font-weight: bold;
}

#select-bookmarks-folder-menu:hover {
	background-color: #ececec;
}

#select-bookmarks-folder-menu img {
	position: absolute;
    margin-left: 244px;
	margin-top: 8px;
}

#select-bookmarks-folder-menu p {
	margin-top: 6px;
	text-align: center;
}

#select-category-box {
	height: 58px;
	border-bottom: 1px solid #acacac;
}

#select-category-menu {
	float: left;
	clear: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #dddddd;
	font-weight: bold;
}

#select-category-menu:hover {
	background-color: #ececec;
}

#select-category-menu img {
	position: absolute;
    margin-left: 244px;
	margin-top: 8px;
}

#select-category-menu p {
	margin-top: 6px;
	text-align: center;
}

#trending-hashtags {
	margin-top: 14px;
	width: 298px;
	overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.hashtag-box {
	height: 28px;
	border-bottom: 1px solid #acacac;
}

.hashtag-box:hover {
	background-color: #ececec;
}

.hashtag-text1 {
	float: left;
	margin-left: 7px;
	margin-top: 6px;
}

.hashtag-text2 {
	float: left;
	color: #4565a1;
	margin-left: 7px;
	margin-top: 6px;
}

.hashtag-text2:hover {
	text-decoration: underline;
}

#bookmarked-posts .hashtag-text2 {
	width: 234px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fire {
	float: right;
	margin-right: 7px;
	margin-top: 9px;
}

.hashtag-text3 {
	float: right;
	color: #f57e20;
	margin-right: 7px;
	margin-top: 6px;
}

#trending-articles {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.articles-box1 {
	height: 41px;
	padding-top: 5px;
	border-bottom: 1px solid #acacac;
}

.articles-box1:hover {
	background-color: #ececec;
}

.articles-box2 {
	height: 23px;
	padding-top: 5px;
	border-bottom: 1px solid #acacac;
}

.articles-box2:hover {
	background-color: #ececec;
}

.articles-text1 {
	margin-left: 7px;
	line-height: 18px;
}

.articles-text2 {
	color: #4565a1;
}

.articles-text2:hover {
	text-decoration: underline;
}

.articles-text3 {
	margin-left: 7px;
	line-height: 18px;
}

#trending-videos {
	margin-top: 14px;
	width: 298px;
    overflow: auto;
    padding-bottom: 14px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
}

.settings, .settings2, .gear, .move {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.settings:hover, .settings2:hover, .gear:hover, .move:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* Pop Up Dialogue Boxes */

#page-mask {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask2 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask3 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask4 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask5 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask6 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask7 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask8 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask9 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-mask10 {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#all-feeds-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#pages-feed-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#groups-feed-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#friends-feed-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#external-feed-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#custom-feed1-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#custom-feed2-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#custom-feed3-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#news-feed-breakdown-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

#category-feed-settings-pop-up {
	margin-top: 71px;
	margin-left: auto;
	margin-right: auto;
	height: 626px;
	width: 1206px;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: white;
	z-index: 2;
}

.settings-module-header {
	height: 28px;
	border-radius: 5px 5px 0px 0px;
	background-color: #f57e20;
}

.settings-module-header-text {
	text-align: center;
	padding-top: 6px;
	font-weight: bold;
}

#select-feed-box {
	float: left;
	width: 300px;
	height: 102px;
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #acacac;
}

#filtered-words {
	float: left;
	width: 300px;
	height: 146px;
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #acacac;
}

#filtered-words-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	background-color: #f57e20;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#filtered-words-header p {
	margin-top: 6px;
}

#enter-word-box {
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	background-color: white;
	border: 1px solid #acacac;
	border-radius: 5px;
}

#enter-word-box p {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
	color: #acacac;
}

#filtered-words-box {
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	background-color: white;
	border: 1px solid black;
}

#filtered-words-box p {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
	color: black;
}

#allowed-words-box {
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	background-color: white;
	border: 1px solid black;
}

#allowed-words-box p {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
	color: black;
}

.plus-sign {
	float: right;
}

#allowed-words {
	float: left;
	width: 300px;
	height: 146px;
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #acacac;
}

#allowed-words-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 270px;
	height: 28px;
	background-color: #f57e20;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#allowed-words-header p {
	margin-top: 6px;
}

#allowed-post-types {
	float: left;
	width: 604px;
	height: 146px;
	border-bottom: 1px solid #acacac;
}

#allowed-post-types-header {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	margin-right: 14px;
	width: 270px;
	height: 28px;
	background-color: #f57e20;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#allowed-post-types-header p {
	margin-top: 6px;
}

.allowed-post-types-button {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	width: 226px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}

.allowed-post-types-button p {
	margin-top: 6px;
}

.allowed-post-types-checkbox {
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	margin-right: 14px;
	width: 28px;
	height: 28px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}

.allowed-post-types-checkbox img {
	margin-top: 4px;
	margin-left: 4px;
}

.checkmark {
	float: right;
	margin-right: 4px;
    margin-top: 4px;
}

.red-x {
	float: right;
	margin-right: 14px;
	margin-top: 14px;
}

#news-feed-breakdown-graph {
	float: left;
	width: 300px;
	height: 102px;
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #acacac;
}

#news-feed-breakdown-data {
	float: left;
	width: 604px;
	height: 102px;
	border-bottom: 1px solid #acacac;
}

.bar-graph {
	float: left;
}

#news-feed-breakdown-pop-up #followed-pages {
	height: 495px;
}

#news-feed-breakdown-pop-up #followed-groups {
	height: 495px;
}

#news-feed-breakdown-pop-up #followed-users {
	height: 495px;
}

#news-feed-breakdown-pop-up #external-feeds {
	height: 495px;
}

#followed-pages {
	clear: left;
	float: left;
	width: 300px;
	height: 451px;
	border-right: 1px solid #acacac;
	overflow-y: scroll;
    overflow-x: hidden;
}

#followed-box {
	border-bottom: 1px solid #acacac;
	height: 44px;
}

#followed-feed-box {
	border-bottom: 1px solid #acacac;
	height: 58px;
}

#followed-pages-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	background-color: #ff7f7f;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#followed-pages-header p {
	margin-top: 6px;
}

#add-a-feed-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#add-a-feed-header p {
	margin-top: 6px;
}

.search-feeds {
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	background-color: white;
	border: 1px solid #acacac;
	border-radius: 5px;
}

.search-feeds p {
	float: left;
	margin-left: 14px;
	margin-top: 6px;
	color: #acacac;
}

#followed-groups {
	float: left;
	width: 300px;
	height: 451px;
	border-right: 1px solid #acacac;
	overflow-y: scroll;
    overflow-x: hidden;
}

#followed-groups-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	background-color: #7f7fff;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#followed-groups-header p {
	margin-top: 6px;
}

#followed-users {
	float: left;
	width: 300px;
	height: 451px;
	border-right: 1px solid #acacac;
	overflow-y: scroll;
    overflow-x: hidden;
}

#followed-users-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	background-color: #7fff7f;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#followed-users-header p {
	margin-top: 6px;
}

#external-feeds {
	float: left;
	width: 303px;
	height: 451px;
	overflow-y: scroll;
    overflow-x: hidden;
}

#external-feeds-header {
	margin-top: 14px;
	margin-left: 14px;
	width: 253px;
	height: 28px;
	background-color: #ffd07f;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

#external-feeds-header p {
	margin-top: 6px;
}

/* Compact View CSS */

.feed-compact-view #post {
	display: flex;
    flex-direction: column;
    position: relative;
}

.feed-compact-view #post .red-box { order: 2; }
.feed-compact-view #post .dropdown7 { order: 3; }
.feed-compact-view #post .post-logo { order: 4; }
.feed-compact-view #post .post-author { order: 5; }
.feed-compact-view #post .post-date { order: 6; }
.feed-compact-view #post .post-description { order: 7; }
.feed-compact-view #post .organic-post1-image { order: 1; }

.feed-compact-view .organic-post1-image {
	height: 96px;
	border-radius: 5px 0px 0px 0px;
}

.feed-compact-view #social-data-box {
    border-top: 1px solid #acacac;
}

.feed-compact-view .post-image {
	position:absolute;
}

.feed-compact-view .post-image img{
	margin:0;
}

.feed-compact-view .post-content {
	margin-left:100px;
	height:96px;
}

.feed-compact-view .post-author-extra {
	display:none;
}

.feed-compact-view .dropdown7 {
	position: absolute;
	top: 0;
	right: 0;
}

.feed-compact-view .red-box-link {
	position: absolute;
	top: 0;
	right: 0;
}

.feed-compact-view .comments-box {
	display: none;
}

/* List View CSS */

.feed-list-view .post-logo {
	height: 20px;
    margin-left: 4px;
    margin-top: 4px;
}

.feed-list-view .post-image {
	display: none;
}

.feed-list-view .comments-box {
	display: none;
}

.feed-list-view #social-data-box {
	display: none;
}

.feed-list-view #social-button-box {
	display: none;
}

.feed-list-view .post-description {
	display: none;
}

.feed-list-view .dropdown7 {
	display: none;
}

.feed-list-view .red-box {
	display: none;
}

.feed-list-view .post-content {
	height: 28px;
}

.feed-list-view .post-author {
    margin-top: -21px;
    margin-left: 28px;
}

.feed-list-view .four-arrows {
    display: block;
    float: right;
	margin-top: -18px;
    margin-right: 4px;
}

.feed-list-view .post-date {
	margin-right: 14px;
    margin-top: -16px;
    float: right;
}

/* 450px Width CSS */

.width-450px #post {
    width: 448px;
}

.width-450px .organic-post1-image {
    width: 448px;
}

.width-450px .comment-icon {
    margin-left: 107px;
}

.width-450px .share-icon {
    margin-left: 97px;
}

.width-450px .post-author {
    margin-right: 60px;
}

.width-450px .blue-box {
    margin-top: -65px;
}

.width-450px .event-title {
    width: 250px;
}

.width-450px .link-except {
    margin-right: 14px;
}

.width-450px .write-a-comment-input {
	width: 354px;
}

/* 300px Width CSS */

.width-300px #post {
    width: 298px;
}

.width-300px .organic-post1-image {
    width: 298px;
}

.width-300px .views-text {
    display: none;
}

.width-300px .shares-text {
    display: none;
}

.width-300px .comment-icon {
    margin-left: 33px;
}

.width-300px .share-icon {
    margin-left: 21px;
}

.width-300px .post-author {
    margin-right: 60px;
}

.width-300px .blue-box {
    margin-top: -65px;
}

.width-300px .event-title {
    width: 250px;
}

.width-300px #interested-button {
    margin-top: -1px;
}

/* change the class from link-text-box to event-text-box */

.width-300px #link-text-box {
    height: 135px;
}

.width-300px .link-except {
    margin-right: 14px;
}

.width-300px .write-a-comment-input {
	width: 204px;
}

/* Dropdown Buttons */

.dropbtn {
    cursor: pointer;
	position: relative;
    float: left;
    clear: left;
    margin-top: 14px;
    margin-left: 42px;
    width: 242px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #dddddd;
	text-align: center;
    font-weight: bold;
}

.dropbtn2, .dropbtn3, .dropbtn4, .dropbtn5 {
    cursor: pointer;
	position: relative;
    float: left;
    clear: left;
    margin-top: 14px;
    margin-left: 14px;
    width: 270px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #dddddd;
	text-align: center;
    font-weight: bold;
}

.dropbtn6 {
	cursor: pointer;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/settings.png');
	border: none;
    outline: none;
}

.dropbtn7, .dropbtn30, .dropbtn31, .dropbtn32, .dropbtn33, .dropbtn34, .dropbtn35 {
	cursor: pointer;
	width: 25px;
	height: 5px;
	background-image: url("http://www.ifeed.social/omega/images/post-options.png");
	border: none;
    outline: none;
	background-color: transparent;
}

.dropbtn8, .dropbtn36, .dropbtn37, .dropbtn38, .dropbtn39, .dropbtn40, .dropbtn41 {
	cursor: pointer;
    color: #4565a1;
	margin-right: 14px;
    background: transparent;
    border: none;
	padding: 0px;
	outline: none;
}

.dropbtn42 {
	cursor: pointer;
	background: transparent;
    border: none;
	padding: 0px;
	outline: none;
}

.dropbtn43, .dropbtn44, .dropbtn45 {
	cursor: pointer;
	background: transparent;
    border: none;
	padding: 0px;
	outline: none;
	height: 20px;
	width: 20px;
	background: url('http://www.ifeed.social/omega/images/gear-white.png');
}	

.dropbtn9 {
	cursor: pointer;
	width: 18px;
	height: 18px;
	background-image: url("http://www.ifeed.social/omega/images/more-options.png");
	border: none;
    outline: none;
	background-color: transparent;
}

.dropbtn10 {
	cursor: pointer;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/bank.png');
	border: none;
    outline: none;
}

.dropbtn11 {
	cursor: pointer;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/friend-requests.png');
	border: none;
    outline: none;
}

.dropbtn12 {
	cursor: pointer;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/chat-bubbles.png');
	border: none;
    outline: none;
}

.dropbtn13 {
	cursor: pointer;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	height: 36px;
	width: 36px;
	background: url('http://www.ifeed.social/omega/images/notifications3.png');
	border: none;
    outline: none;
}

.dropbtn14, .dropbtn15, .dropbtn16, .dropbtn17, .dropbtn18, .dropbtn19, .dropbtn20, .dropbtn21, .dropbtn22, .dropbtn23, .dropbtn24, .dropbtn25, .dropbtn26, .dropbtn27, .dropbtn28, .dropbtn29, .dropbtn46 {
	cursor: pointer;
	height: 20px;
	width: 20px;
	background: url('http://www.ifeed.social/omega/images/gear.png');
	border: none;
    outline: none;
}

.dropbtn img {
    position: absolute;
    margin-left: 27px;
    margin-top: 2px;
}

.dropbtn2 img {
    position: absolute;
    margin-left: 58px;
    margin-top: 2px;
}

.dropbtn3 img, .dropbtn4 img, .dropbtn5 img {
    position: absolute;
    margin-left: 68px;
    margin-top: 2px;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn2:hover, .dropbtn2:focus, .dropbtn3:hover, .dropbtn3:focus, .dropbtn4:hover, .dropbtn4:focus, .dropbtn5:hover, .dropbtn5:focus {
    background-color: #ececec;
}

.dropbtn8:hover, .dropbtn8:focus {
    color: #6b9fff
}

.dropdown {
    position: relative;
}

.dropdown2 {
    position: absolute;
}

.dropdown6 {
    position: relative;
	display: inline-block;
}

.dropdown7, .dropdown30, .dropdown31, .dropdown32, .dropdown33, .dropdown34, .dropdown35 {
    position: relative;
    float: right;
    margin-top: 18px;
    margin-right: 13px;
}

.dropdown8, .dropdown36, .dropdown37, .dropdown38, .dropdown39, .dropdown40, .dropdown41 {
    float: right;
    margin-top: 5px;
}

.dropdown43, .dropdown44 {
	position: relative;
    float: right;
    margin-right: 7px;
    margin-top: 4px;
}

.dropdown45 {
	position: relative;
    float: right;
    margin-right: 7px;
    margin-top: 4px;
}

.dropdown9 {
    position: relative;
	float: left;
	margin-left: 14px;
	margin-top: 8px;
}

.dropdown10, .dropdown11, .dropdown12, .dropdown13 {
    position: relative;
	display: inline-block;
	float: left;
}

.dropdown14, .dropdown15, .dropdown16, .dropdown17, .dropdown18, .dropdown19, .dropdown20, .dropdown21, .dropdown22, .dropdown23, .dropdown24, .dropdown25, .dropdown26, .dropdown27, .dropdown28, .dropdown46 {
    position: relative;
    float: right;
    margin-right: 4px;
    margin-top: 4px;
}

.dropdown29 {
    position: absolute;
    margin-left: 574px;
    margin-top: 4px;
}

.dropdown42 {
	float: left;
	margin-left: 319px;
	margin-top: 23px;
}

.tiny-down-arrow2 {
	float: right;
    margin-left: 4px;
    margin-top: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: 42px;
    margin-top: 88px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content2, .dropdown-content3, .dropdown-content4, .dropdown-content5 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: 14px;
    margin-top: 44px;
    background-color: #f1f1f1;
    min-width: 270px;
}

.dropdown-content6 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: -192px;
    margin-top: 47px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content7, .dropdown-content30, .dropdown-content31, .dropdown-content32, .dropdown-content33, .dropdown-content34, .dropdown-content35 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: -217px;
    margin-top: 5px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content8, .dropdown-content36, .dropdown-content37, .dropdown-content38, .dropdown-content39, .dropdown-content40, .dropdown-content41 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -161px;
    margin-top: 6px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content42 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -220px;
    margin-top: 6px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content43 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -215px;
    margin-top: -56px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content45 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -215px;
	margin-top: -168px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content44 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: -203px;
    margin-top: -56px;
    background-color: #f1f1f1;
    min-width: 230px;
}

.dropdown-content9 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: -224px;
    margin-top: 5px;
    background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content10, .dropdown-content11, .dropdown-content12, .dropdown-content13 {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: -250px;
    margin-top: 47px;
    background-color: white;
    min-width: 298px;
	border: 1px solid #acacac;
    border-top: none;
}

.dropdown-content14, .dropdown-content15, .dropdown-content16, .dropdown-content17, .dropdown-content18, .dropdown-content19, .dropdown-content20, .dropdown-content21, .dropdown-content22, .dropdown-content23, .dropdown-content24, .dropdown-content25, .dropdown-content26, .dropdown-content27, .dropdown-content28, .dropdown-content29, .dropdown-content46 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: -218px;
    margin-top: 2px;
	background-color: #f1f1f1;
    min-width: 242px;
}

.dropdown-content a, .dropdown-content2 a, .dropdown-content3 a, .dropdown-content4 a, .dropdown-content5 a, .dropdown-content6 a, .dropdown-content7 a, .dropdown-content8 a, .dropdown-content9 a, .dropdown-content14 a, .dropdown-content15 a, .dropdown-content16 a, .dropdown-content17 a, .dropdown-content18 a, .dropdown-content19 a, .dropdown-content20 a, .dropdown-content21 a, .dropdown-content22 a, .dropdown-content23 a, .dropdown-content24 a, .dropdown-content25 a, .dropdown-content26 a, .dropdown-content27 a, .dropdown-content28 a, .dropdown-content29 a, .dropdown-content30 a, .dropdown-content31 a, .dropdown-content32 a, .dropdown-content33 a, .dropdown-content34 a, .dropdown-content35 a, .dropdown-content36 a, .dropdown-content37 a, .dropdown-content38 a, .dropdown-content39 a, .dropdown-content40 a, .dropdown-content41 a, .dropdown-content42 a, .dropdown-content43 a, .dropdown-content44 a, .dropdown-content45 a, .dropdown-content46 a {
    color: black;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover, .dropdown-content4 a:hover, .dropdown-content5 a:hover, .dropdown-content6 a:hover, .dropdown-content7 a:hover, .dropdown-content8 a:hover, .dropdown-content9 a:hover, .dropdown-content14 a:hover, .dropdown-content15 a:hover, .dropdown-content16 a:hover, .dropdown-content17 a:hover, .dropdown-content18 a:hover, .dropdown-content19 a:hover, .dropdown-content20 a:hover, .dropdown-content21 a:hover, .dropdown-content22 a:hover, .dropdown-content23 a:hover, .dropdown-content24 a:hover, .dropdown-content25 a:hover, .dropdown-content26 a:hover, .dropdown-content27 a:hover, .dropdown-content28 a:hover, .dropdown-content29 a:hover, .dropdown-content30 a:hover, .dropdown-content31 a:hover, .dropdown-content32 a:hover, .dropdown-content33 a:hover, .dropdown-content34 a:hover, .dropdown-content35 a:hover, .dropdown-content36 a:hover, .dropdown-content37 a:hover, .dropdown-content38 a:hover, .dropdown-content39 a:hover, .dropdown-content40 a:hover, .dropdown-content41 a:hover, .dropdown-content42 a:hover, .dropdown-content43 a:hover, .dropdown-content44 a:hover, .dropdown-content45 a:hover, .dropdown-content46 a:hover {background-color: #dddddd;}

.show {display:block;}

/* BASIC MODE TOGGLE */

.basic-mode #all-feeds-settings, .basic-mode #pages-feed-settings, .basic-mode #groups-feed-settings, .basic-mode #friends-feed-settings, .basic-mode #external-feed-settings, .basic-mode #custom-feed1-settings, .basic-mode #custom-feed2-settings, .basic-mode #custom-feed3-settings {
    display: none!important;
	-webkit-transition: .4s;
	transition: .4s;
}

.basic-mode #all-feeds, .basic-mode #pages-feed, .basic-mode #groups-feed, .basic-mode #friends-feed, .basic-mode #external-feed, .basic-mode #custom-feed1, .basic-mode #custom-feed2, .basic-mode #custom-feed3 {
    width: 268px;
	-webkit-transition: .4s;
	transition: .4s;
}

.basic-mode .move, .basic-mode .settings {
    opacity: 0;
	-webkit-transition: .4s;
	transition: .4s;
}

.basic-mode #layout-options {
	height: 0px;
	-webkit-transition: .4s;
	transition: .4s;
}

.basic-mode #toggle-view1, .basic-mode #toggle-view2, .basic-mode #toggle-view3 {
	display: none;
	-webkit-transition: .4s;
	transition: .4s;
}

.basic-mode #category-feed-settings, .basic-mode #category-feed-settings2 {
	display: none;
	-webkit-transition: .4s;
	transition: .4s;
}

.basic-mode #category-feed {
	width: 268px;
	-webkit-transition: .4s;
	transition: .4s;
}